body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(#101056,#228383);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.container{
  color: white;
  text-align: center;
  background-image: linear-gradient(#101056,#767677);
  align-items: center;
  width: 30vw;
  box-shadow: 0 0 10px 0 rgb(255, 252, 252);
  border-radius: 10px;
}
#submit{
  background-color: #101056;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin: 10px;
}
#search-box{
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  width: 25vw;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 10px;
}
#image{
  width: 10vw;
}
@media only screen and (max-width: 600px) {
  .container{
    width: 80vw;
  }
  #search-box{
    width: 65vw;
  }
  #image{
    width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  .container{
    width: 80vw;
  }
  #search-box{
    width: 65vw;
  }
  #image{
    width: 30vw;
  }
}
@media screen and (max-width: 480px) {
  .container{
    width: 80vw;
  }
  #search-box{
    width: 65vw;
  }
  #image{
    width: 30vw;
  }
}
@media screen and (max-width: 1180px) {
  .container{
    width: 80vw;
  }
  #search-box{
    width: 65vw;
  }
  #image{
    width: 30vw;
  }
}
